### Make the following Dataframe by using pandas. Write the functions to see the how many NaN values are in the entire Dataframe? Clean the NaN values using Forward fill, Backward fill, ‘0’ Fill

In [29]:
import pandas as pd

In [30]:
import numpy as np

In [31]:
data = {
    'A': [21, np.nan, 22, 4, np.nan],
    'B': [31, 32, 33, 34, 35],
    'C': [np.nan, np.nan, np.nan, np.nan, np.nan],
    'D': [46, 47, np.nan, 48, 49]
}

In [32]:
df = pd.DataFrame(data)
print(df)

      A   B   C     D
0  21.0  31 NaN  46.0
1   NaN  32 NaN  47.0
2  22.0  33 NaN   NaN
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

In [33]:
total_nan_values = df.isna().sum().sum()

In [34]:
print("Total nan values: ",total_nan_values)

Total nan values:  8

In [35]:
def forward_fill(df):
    return df.fillna(method='ffill')

In [36]:
print("\nForward Fill:")
print(forward_fill(df))

Forward Fill:

<ipython-input-35-114e642c55d8>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return df.fillna(method='ffill')

      A   B   C     D
0  21.0  31 NaN  46.0
1  21.0  32 NaN  47.0
2  22.0  33 NaN  47.0
3   4.0  34 NaN  48.0
4   4.0  35 NaN  49.0

In [37]:
 def backward_fill(df):
    return df.fillna(method='bfill')

In [38]:
print("\nBackward Fill:")
print(backward_fill(df))

Backward Fill:

<ipython-input-37-5ae760b35898>:2: FutureWarning: DataFrame.fillna with 'method' is deprecated and will raise in a future version. Use obj.ffill() or obj.bfill() instead.
  return df.fillna(method='bfill')

      A   B   C     D
0  21.0  31 NaN  46.0
1  22.0  32 NaN  47.0
2  22.0  33 NaN  48.0
3   4.0  34 NaN  48.0
4   NaN  35 NaN  49.0

In [39]:
def fill_zero(df):
    return df.fillna(0)

In [40]:
print("\nFilling NaN with 0:")
print(fill_zero(df))

Filling NaN with 0:
      A   B    C     D
0  21.0  31  0.0  46.0
1   0.0  32  0.0  47.0
2  22.0  33  0.0   0.0
3   4.0  34  0.0  48.0
4   0.0  35  0.0  49.0